# Análise de clicks
Está análise foi realizada na especialização em Big Data do Coursera. O objetivo da atividade é explorar as funcionalidades do DataFrame.

Algumas das operações testadas não foram incluidas neste arquivo.

In [1]:
import pandas

In [2]:
buyclicksDF = pandas.read_csv("buy-clicks.csv")

#### Exibindo os dados carregados no dataframe:

In [4]:
buyclicksDF

                timestamp   txId  userSessionId  team  userId  buyId  price
0     2016-05-26 15:36:54   6004           5820     9    1300      2    3.0
1     2016-05-26 15:36:54   6005           5775    35     868      4   10.0
2     2016-05-26 15:36:54   6006           5679    97     819      5   20.0
3     2016-05-26 16:36:54   6067           5665    18     121      2    3.0
4     2016-05-26 17:06:54   6093           5709    11    2222      5   20.0
5     2016-05-26 17:06:54   6094           5798    77    1304      5   20.0
6     2016-05-26 18:06:54   6155           5920     9    1027      5   20.0
7     2016-05-26 18:06:54   6156           5697    35    2199      2    3.0
8     2016-05-26 18:36:54   6183           5893    64    1544      5   20.0
9     2016-05-26 18:36:54   6184           5697    35    2199      1    2.0
10    2016-05-26 19:36:54   6243           5659    13    1623      4   10.0
11    2016-05-26 19:36:54   6244           5920     9    1027      3    5.0
12    2016-05-26 20:06:54   6269           5785    27    1065      5   20.0
13    2016-05-26 20:06:54   6270           5661    63      83      3    5.0
14    2016-05-26 20:06:54   6271           5706     9    1652      0    1.0
15    2016-05-26 20:36:54   6292           5921     2     518      0    1.0
16    2016-05-26 21:06:54   6327           5860    57    2221      5   20.0
17    2016-05-26 22:06:54   6394           6088    32    1815      2    3.0
18    2016-05-26 22:06:54   6395           5880    35    2146      1    2.0
19    2016-05-26 22:36:54   6411           6230    77    1457      0    1.0
20    2016-05-26 22:36:54   6412           5870     9     371      2    3.0
21    2016-05-26 23:36:54   6458           5698     9    1143      1    2.0
22    2016-05-27 00:06:54   6473           5910    69    1162      1    2.0
23    2016-05-27 00:06:54   6474           5777    64    1567      3    5.0
24    2016-05-27 01:36:54   6549           5777    64    1567      2    3.0
25    2016-05-27 01:36:54   6550           5938    11    1155      5   20.0
26    2016-05-27 02:06:54   6565           5889    54     165      3    5.0
27    2016-05-27 02:06:54   6566           5844    53     670      5   20.0
28    2016-05-27 02:06:54   6567           5860    57    2221      2    3.0
29    2016-05-27 03:36:54   6651           5955    64    2009      3    5.0
...                   ...    ...            ...   ...     ...    ...    ...
2917  2016-06-16 08:06:54  39557          34632    72    1294      0    1.0
2918  2016-06-16 08:06:54  39558          34498    59    2029      3    5.0
2919  2016-06-16 08:06:54  39559          34465    54    1234      2    3.0
2920  2016-06-16 08:06:54  39560          34354    32    2271      2    3.0
2921  2016-06-16 08:36:54  39613          34795    97    1103      2    3.0
2922  2016-06-16 08:36:54  39614          34583    70    1516      2    3.0
2923  2016-06-16 08:36:54  39615          36788   132      66      2    3.0
2924  2016-06-16 08:36:54  39616          33184   124     168      5   20.0
2925  2016-06-16 08:36:54  39617          34430    51     143      2    3.0
2926  2016-06-16 09:06:54  39669          34410    44    1926      2    3.0
2927  2016-06-16 09:36:54  39708          34524    63     212      5   20.0
2928  2016-06-16 09:36:54  39709          34558    66     736      0    1.0
2929  2016-06-16 09:36:54  39710          34213    11    1260      4   10.0
2930  2016-06-16 09:36:54  39711          39275   178     499      4   10.0
2931  2016-06-16 09:36:54  39712          35141   104    2209      5   20.0
2932  2016-06-16 09:36:54  39713          38781   160    1872      3    5.0
2933  2016-06-16 09:36:54  39714          34703    82    1546      5   20.0
2934  2016-06-16 09:36:54  39715          34624    72    1201      3    5.0
2935  2016-06-16 09:36:54  39716          34382    36     127      2    3.0
2936  2016-06-16 10:06:54  39782          37317   144    2052      0    1.0
2937  2016-06-16 10:06:54  39783          34325    27     221      5   20.0
2938  2016-06-16 10:36:54  39834          37717   111     620      3    5.0
2939  2016-06-16 10:36:54  39835          34686    78    1769      4   10.0
2940  2016-06-16 10:36:54  39836          34787    97     649      0    1.0
2941  2016-06-16 10:36:54  39837          34811    99    2278      2    3.0
2942  2016-06-16 10:36:54  39838          34373    35     305      0    1.0
2943  2016-06-16 10:36:54  39839          37360   168    2016      1    2.0
2944  2016-06-16 10:36:54  39840          34542    64      68      2    3.0
2945  2016-06-16 10:36:54  39841          38277    27     667      4   10.0
2946  2016-06-16 10:36:54  39842          34181     8     464      5   20.0

[2947 rows x 7 columns]

In [5]:
buyclicksDF.head(5)

             timestamp  txId  userSessionId  team  userId  buyId  price
0  2016-05-26 15:36:54  6004           5820     9    1300      2    3.0
1  2016-05-26 15:36:54  6005           5775    35     868      4   10.0
2  2016-05-26 15:36:54  6006           5679    97     819      5   20.0
3  2016-05-26 16:36:54  6067           5665    18     121      2    3.0
4  2016-05-26 17:06:54  6093           5709    11    2222      5   20.0

In [6]:
buyclicksDF.shape

(2947, 7)

In [7]:
buyclicksDF[['price', 'userId']].head(5)

   price  userId
0    3.0    1300
1   10.0     868
2   20.0     819
3    3.0     121
4   20.0    2222

In [3]:
buyclicksDF['price'].sum()

21407.0

In [4]:
buyclicksDF['price'].mean()

7.263997285374957

#### Instâncias do dataset que possuem preço maior do que 3:

In [8]:
buyclicksDF[buyclicksDF['price']<3]

                timestamp   txId  userSessionId  team  userId  buyId  price
9     2016-05-26 18:36:54   6184           5697    35    2199      1    2.0
14    2016-05-26 20:06:54   6271           5706     9    1652      0    1.0
15    2016-05-26 20:36:54   6292           5921     2     518      0    1.0
18    2016-05-26 22:06:54   6395           5880    35    2146      1    2.0
19    2016-05-26 22:36:54   6411           6230    77    1457      0    1.0
21    2016-05-26 23:36:54   6458           5698     9    1143      1    2.0
22    2016-05-27 00:06:54   6473           5910    69    1162      1    2.0
31    2016-05-27 04:36:54   6684           5652    11     937      0    1.0
34    2016-05-27 06:06:54   6752           5811    97     649      0    1.0
39    2016-05-27 08:06:54   6866           5698     9    1143      1    2.0
45    2016-05-27 11:36:54   7031           6993    22    1022      0    1.0
52    2016-05-27 15:06:54   7176           5914    78    1821      0    1.0
57    2016-05-27 15:36:54   7199           5940    64     564      0    1.0
59    2016-05-27 16:36:54   7248           5934    27    2384      0    1.0
63    2016-05-27 18:36:54   7358           5783   100    2306      0    1.0
72    2016-05-27 21:36:54   7471           5941    99      97      0    1.0
76    2016-05-28 00:06:54   7923           7604    27    1892      1    2.0
78    2016-05-28 00:36:54   7957           7759    72    1264      0    1.0
82    2016-05-28 01:36:54   8012           7747    70    1516      0    1.0
84    2016-05-28 02:36:54   8045           7580    22      76      0    1.0
86    2016-05-28 04:36:54   8136           7589    22      90      1    2.0
92    2016-05-28 06:36:54   8228           7979    66     736      1    2.0
93    2016-05-28 07:06:54   8248           7762    72    1307      1    2.0
99    2016-05-28 09:06:54   8334           7795    82    1214      0    1.0
101   2016-05-28 09:36:54   8361           7599    27     820      1    2.0
106   2016-05-28 12:06:54   8478           8098   111    1016      0    1.0
108   2016-05-28 12:06:54   8480           7595    22    1022      0    1.0
110   2016-05-28 12:36:54   8507           7559    18     374      1    2.0
112   2016-05-28 13:36:54   8544           7770    74     367      0    1.0
113   2016-05-28 14:06:54   8558           7852    99      97      0    1.0
...                   ...    ...            ...   ...     ...    ...    ...
2793  2016-06-15 21:36:54  38712          34315    25     643      0    1.0
2808  2016-06-15 22:36:54  38803          36898    71     627      0    1.0
2811  2016-06-15 23:06:54  38829          34811    99    2278      0    1.0
2813  2016-06-15 23:06:54  38831          32027   117    1574      0    1.0
2823  2016-06-16 00:06:54  38941          34749    86     689      1    2.0
2827  2016-06-16 00:06:54  38945          34806    99    2032      1    2.0
2830  2016-06-16 00:36:54  38985          38270   136    1399      1    2.0
2837  2016-06-16 01:06:54  39011          37358   146    2303      0    1.0
2846  2016-06-16 01:36:54  39034          34479    57    2221      1    2.0
2856  2016-06-16 02:06:54  39112          34254    18     934      0    1.0
2859  2016-06-16 02:36:54  39131          34650    74    1552      0    1.0
2860  2016-06-16 02:36:54  39132          38956   133      79      0    1.0
2864  2016-06-16 02:36:54  39136          35259   131    1704      0    1.0
2867  2016-06-16 03:06:54  39155          34810    99    1744      0    1.0
2868  2016-06-16 03:06:54  39156          34758    90     808      1    2.0
2870  2016-06-16 03:06:54  39158          34807    99      97      1    2.0
2877  2016-06-16 04:36:54  39262          38268   136    1070      0    1.0
2880  2016-06-16 04:36:54  39265          34353    32    1120      0    1.0
2887  2016-06-16 05:06:54  39319          34339    27    2073      0    1.0
2899  2016-06-16 06:06:54  39404          34261    18    1948      0    1.0
2908  2016-06-16 07:36:54  39517          33803   156     294      1    2.0
2909  2016-06-16 07:36:54  39518          34329    27    1892      0    1.0
2915  2016-06-16 08:06:54  39555          36457   130    2182      0    1.0
2916  2016-06-16 08:06:54  39556          34613    71    1451      1    2.0
2917  2016-06-16 08:06:54  39557          34632    72    1294      0    1.0
2928  2016-06-16 09:36:54  39709          34558    66     736      0    1.0
2936  2016-06-16 10:06:54  39782          37317   144    2052      0    1.0
2940  2016-06-16 10:36:54  39836          34787    97     649      0    1.0
2942  2016-06-16 10:36:54  39838          34373    35     305      0    1.0
2943  2016-06-16 10:36:54  39839          37360   168    2016      1    2.0

[861 rows x 7 columns]

#### Combinando datasets

In [5]:
adClicksDF = pandas.read_csv("ad-clicks.csv")
mergeDF = adClicksDF.merge(buyclicksDF, on='userId')

In [6]:
mergeDF.head(5)

,timestamp_x,txId_x,userSessionId_x,teamId,userId,adId,adCategory,timestamp_y,txId_y,userSessionId_y,team,buyId,price
0,2016-05-26 15:13:22,5974,5809,27,611,2,electronics,2016-05-30 13:06:54,11058,9769,27,1,2.0
1,2016-05-26 15:13:22,5974,5809,27,611,2,electronics,2016-06-03 18:36:54,17005,15910,27,4,10.0
2,2016-05-26 15:13:22,5974,5809,27,611,2,electronics,2016-06-07 12:06:54,22930,20644,27,5,20.0
3,2016-05-26 15:13:22,5974,5809,27,611,2,electronics,2016-06-11 02:06:54,29101,26524,27,4,10.0
4,2016-05-26 15:13:22,5974,5809,27,611,2,electronics,2016-06-13 02:36:54,32796,26524,27,4,10.0